@charset "utf-8";
/* CSS Document */

/*******************************************
	SITE:  AutoBiz Voice
	FileName: leyout.css
	LastUpdate: 2015/10/05
********************************************/


/*
.header .gNav .contArea li.funct.on .secNav{
  display:block !important;
}
*/

html {

    scroll-behavior: smooth;

}


/*------------------------------------------------------------
	mv
------------------------------------*/
.header .gNav .contArea li .secNav li.on{
  background-color:#ffffff;
}

/*------------------------------------------------------------
	list
------------------------------------*/

.listConts{
	padding:60px 0;
	}

.color_bg{
	background-color:#f2f1ec;
	}

.list_bg{background-image:url(../images/list_bg.gif);}
.customer_bg{background-image:url(../images/customer_bg.gif);}
.form_bg{background-image:url(../images/form_bg.gif);}
.form_detail_bg{background-image:url(../images/form_detail_bg.gif);}
.mail_bg{background-image:url(../images/mail_bg.gif);}
.mail_detail_bg{background-image:url(../images/mail_detail_bg.gif);}
.other_bg{background-image:url(../images/other_bg.gif);}


dl.list_Box{
	padding:25px 0;
	border-bottom:1px solid #dfded7;
	overflow:hidden;
	}

dl.list_Box1{
	border-top:1px solid #dfded7;
	}

.list_Box dt{
	width:210px;
	float:left;
	color:#2774dd;
  font-weight:500;
  font-family: 'Noto Sans JP', serif;
  font-size:108%;
	}

.list_Box dd{
	width:780px;
	float:left;
	}

.list_Box dd .note {
    display: inline-block;
    font-size: 14px;
    text-indent: -1em;
    padding-left: 1em;
}

/*------------------------------------------------------------
	point
------------------------------------*/

.contsDtl .video{
	width:96%;
	max-width:696px;
	margin:0 auto;
	padding-bottom:40px;
}

.contsDtl .video .videoInner{
	border:8px solid #eee;
	padding:0 20px 20px 20px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

.contsDtl .video .videoInner p{
	font-size:16px;
	line-height:1.2;
	padding:20px 0 20px 0;
}

.contsDtl .video .videoInner .videoBox{
	position:relative;
	/*width:100%;*/
	/*padding-top: 56.25%;*/
}

.contsDtl .video .videoInner .videoBox iframe{
	position:relative;
	width:640px;
	height:360px;
	/*height:auto;*/
}

.contsDtl .pBox_bg{
	background-image:url(../images/point_bg.png);
	background-repeat:no-repeat;
	background-position:left top;
	margin:0 0 0 -55px;
	}

.contsDtl .pBox{
	margin:0 0 0 55px;
	}

.contsDtl .pBox dd{
	display:table;
	padding:0 0 0 30px;
 	font-size:24px;
	color:#2774dd;
	font-weight:bold;
	padding-top:5px;
	line-height:35px;  
	}

.contsDtl .pBox dd .box_left{
	display:table-cell;
	}

.contsDtl .pBox dd .box_left span.boxTtl{
	display:block;
	padding:0 60px 15px 0;
  font-weight:700;
  font-family: 'Noto Sans JP', serif;
	}

.contsDtl .pBox dd .box_left span.boxTxt{
	display:block;
	font-size:16px;
	color:#000;
	font-weight:normal;
	line-height:1.6;
	padding:0 60px 0 0;
 
	}
	
.contsDtl .pBox dd .box_left span.boxTxt_btm{
	padding-top:15px;
	}

.contsDtl .pBox dd .box_left .serviceLogo{
	fint-size:0;
	line-height:0;
}

.contsDtl .pBox dd .box_left .serviceLogo a{
	display:inline-block;
	margin:0 15px 15px 0;
}

.contsDtl .pBox dd .box_left .serviceLogo a img{
	width:168px;
	height:auto;
}

.contsDtl .pBox dd em{
	display:table-cell;
	vertical-align:middle;
	}

.contsDtl .pBox a.gBtn{
	margin-top:15px;
	}

.contsIn2{
	display: flex;
	align-items: center;
	margin-top: 30px;
}

.Kform{
	width: 70%;
	margin-top: 10px;
}

.tooltip {
  position: relative;
  z-index: 1;
}

.tooltip img {
  vertical-align: middle;
  cursor: pointer;
}

div .tooltipCmt {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 80%;
  /* 	width:250px; */
  padding: 6px;
  position: absolute;
  /* 	left: 250px; */
  top: 22px;
  text-align: left;
  color: #333;
  opacity: 0.95;
  border-radius: 10px;
}

.tooltip_domain {
  padding-left: 14px;
  margin-bottom: 20px;
}

.tooltip_close {
  text-align: right;
  color: #666;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

/*ツールチップ*/
.balloonoya {
  position   : relative;             /* 指定した分だけ相対的に移動 */
  cursor   : pointer;                /* カーソルをポインターで表示 */
}
.balloon1 {
  display: none;                     /* 要素を非表示 */
}
.balloon {
  position: absolute;                   /* 親要素を基準 */
  display: inline;                      /* 要素をインラインとして表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(153, 153, 153, 0.50);       /* 背景色（透明度） */
  width:250px;                          /* 吹き出し全体の幅 */

  font-size: 80%;                       /* 文字サイズ */
}

/*------------------------------------------------------------
	detail
------------------------------------*/
.contsDtl .pBox dd .box_only span.boxTtl{
	display:block;
	padding:0 0px 15px 0;
	}

.contsDtl .pBox dd .box_only span.boxTxt{
	display:block;
	font-size:16px;
	color:#000;
	font-weight:normal;
	line-height:1.6;
	padding:0 0px 0 0;
	}
	
.contsDtl .pBox dd .box_only span.boxTxt_btm{
	padding-top:15px;
	}

.contsDtl .pBox a.gLine:link,
.contsDtl .pBox a.gLine:visited{
  color:#3ba600;
  text-decoration:underline;
  font-size:16px;
  font-weight:normal;
  display:inline-block;
   background:url(../../common/images/icn_fw.png) no-repeat right center;
   line-height:1.3;
   padding:0 15px 0 0;
   margin:0;
}

.contsDtl .pBox a.gLine:hover{
  color:#333333;
  text-decoration:none;
  font-size:16px;
  font-weight:normal;
}


.funcLink{
text-align:center;
margin-bottom:70px;
}
.funcLink ul li{
display:inline-block;
margin-right: 20px;
}
.funcLink a.gLine:link,
.funcLink a.gLine:visited{
  color:#3ba600;
  text-decoration:underline;
  font-size:20px;
  font-weight:normal;
  display:inline-block;
   background:url(../../common/images/icn_fw.png) no-repeat right center;
   line-height:1.3;
   padding:0 15px 0 0;
   margin:0;
}

.funcLink a.gLine:hover{
  color:#333333;
  text-decoration:none;
  font-size:20px;
  font-weight:normal;
}



@media (max-width:800px){
.heroAreaIn{
  width:100%;
  height:0px;
}

.list_bg{
  background-image:url(../images/list_bg.gif);
	}
	
.funct .continer .tabgNav .contArea li.on a,
.funct .continer .tabgNav .contArea li.on span{
  background-color: rgba(39,116,221,1);
}

.funct .continer .tabgNav .contArea li .secNav li.on a,
.funct .continer .tabgNav .contArea li.on .secNav li.on a,
.funct .continer .tabgNav .contArea li .secNav li.on span,
.funct .continer .tabgNav .contArea li.on .secNav li.on span{
  background-color: rgba(20,155,210,0.85);
}

/*------------------------------------------------------------
	list
------------------------------------*/

.listConts{
	padding:40px 3%;
	}

dl.list_Box{
	padding:15px 0;
	}

.list_Box dt{
	width:100%;
	color:#2774dd;
	margin:0 3% 0 0;
	float:none;
	}

.list_Box dd{
	width:100%;
	float:left;
	float:none;
	}
	


/*------------------------------------------------------------
	point
------------------------------------*/

.point{
	width:94%;
    margin:0 3% 5px 3%;
	}

.contsDtl .pBox_bg{
	background-image:none;
	margin:0 0 0 0px;
	}

.contsDtl .pBox{
	width:94%;
    margin:0 3% 5px 3%;
	}

.contsDtl .pBox dd{
 	font-size:20px;
	padding-top:5px;
	line-height:1.6;
	}

.contsDtl .pBox dd .box_left{
	width:67%;
	padding:0 3% 0 0;
	}

.contsDtl .pBox dd .box_left span.boxTtl{
	display:block;
	padding:0;
	}

.contsDtl .pBox dd .box_left span.boxTxt{
	display:block;
	font-size:16px;
	color:#000;
	font-weight:normal;
	line-height:1.6;
	padding:0 10px 0 0px;
	}

.contsDtl .pBox dd .box_left span.boxTxt_btm{
	padding-top:10px;
	}

.contsDtl .pBox dd em{
	width:30%;
	}

.contsDtl .pBox dd .box_only span.boxTxt_btm{
	padding-top:10px;
	}




.contsDtl .pBox dd .box_left .serviceLogo a{
	margin:0 10px 10px 0;
}

.contsDtl .pBox dd .box_left .serviceLogo a img{
	width:120px;
	height:auto;
}




.contsDtl .video .videoInner .videoBox{
	position:relative;
	width:100%;
	padding-top: 56.25%;
}

.contsDtl .video .videoInner .videoBox iframe{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
	/*height:auto;*/
}

.contsIn2{
	display:block;
}

.Kform{
	width: 100%;
}

.funcLink ul li{
display:block;
margin: 10px auto;
}

}

.pBtn{
 margin: 0 3% 30px 3%;
}



@media (max-width: 480px) {
.heroAreaIn{
  height:0px;
}

.list_bg{
  background-image:url(../images/list_bg.gif);
	}

/*------------------------------------------------------------
	point
------------------------------------*/
.point{
	width:94%;
    margin:0 3% 5px 3%;
	}

.contsDtl .<strong>p</strong>Box_bg{
	background-image:none;
	margin:0 0 0 0px;
	}

.contsDtl .pBox{
	width:94%;
    margin:0 3% 5px 3%;
	}

.contsDtl .pBox dd{
	display:block;
	padding:0 0 0 60px;
 	font-size:20px;
	padding-top:5px;
	line-height:1.6;
	}

.contsDtl .pBox dd .box_left{
	width:100%;
	padding:0;
	}

.contsDtl .pBox dd .box_left{
	display:block;
	}

.contsDtl .pBox dd .box_left span.boxTtl{
	display:block;
	padding:0 10px 15px 0px;
	width:100%;
	}

.contsDtl .pBox dd .box_left span.boxTxt{
	display:block;
	font-size:16px;
	color:#000;
	font-weight:normal;
	line-height:1.6;
	padding:0 10px 0 0px;
	width:100%;
	}

.contsDtl .pBox dd .box_left span.boxTxt_btm{
	padding-top:10px;
	}
.contsDtl .pBox dd .box_only span.boxTxt_btm{
	padding-top:10px;
	}

.contsDtl .pBox dd em{
	display:block;
	width:80%;
	margin:10px auto 0;
	}

.contsDtl .pBox a.gBtn{
	margin-top:15px;
	margin-bottom:15px;
	}
	



.funcLink ul li{
display:block;
margin: 10px auto;
}

}

.pBtn{
  max-width: 1008px;
  text-align: left;
  margin: auto;
  padding-left:20px;
}

.pBtn a{
  display:inline-block; 
  margin-right: 20px;
  margin-top: 10px;
  color: #3ba600;
  background: url(../../common/images/icn_fw.png) no-repeat 0px 5px;
  padding-left: 20px;

}

/*.pBtn a:link,
.pBtn a:visited{
  background-color: rgba(39,116,221,1);
  color:#ffffff;
  /*font-weight:bold;
  text-decoration:none;
  font-weight:700;
  font-family: 'Noto Sans JP',sans-serif;
}

.pBtn a:hover{
  background-color: rgba(39,116,221,0.8);
  color:#ffffff;
  text-decoration:none;
  /*font-weight:bold;
  font-weight:700;
  font-family: 'Noto Sans JP',sans-serif;
}*/

a.anchor {
    display: block;
    padding-top: 170px;
    margin-top: -170px;
	color: #fff;
	text-decoration: none;
}


.fBtn{
  max-width: 1008px;
  text-align: center;
  margin: auto;
}

.fBtn a{
  display:inline-block;
  background-image:url(../../common/images/icn_arrow.png);
  background-repeat:no-repeat;
  background-position:98% center;
  padding:0px 25px 0px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius:5px;
  border-radius:5px;
  text-align:center;
  line-height:45px;
  min-width:180px;
  font-size:20px;+
  margin-right: 20px;
  margin-top: 10px
}

.fBtn a:link,
.fBtn a:visited{
  background-color: rgba(133,208,15,1);
  color:#ffffff;
  /*font-weight:bold;*/
  text-decoration:none;
  font-weight:700;
  font-family: 'Noto Sans JP',sans-serif;
}

.fBtn a:hover{
  background-color: rgba(133,208,15,0.8);
  color:#ffffff;
  text-decoration:none;
  /*font-weight:bold;*/
  font-weight:700;
  font-family: 'Noto Sans JP',sans-serif;
}

.foottext{
    margin: 20px auto 10px auto;
    text-align: center;
}

.foottext a.hikaku{
	color: #3ba600;
    text-decoration: underline;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    background: url(../../common/images/icn_fw.png) no-repeat right center;
    line-height: 1.3;
    padding: 0 15px 0 0;
    margin: 0;
}


@media (max-width: 480px) {
 .fBtn .pBtn a{
   display: block;
   margin:10px 20px;
	}
	
a.anchor {
    display: block;
    padding-top: 10px;
    margin-top: -10px;
	color: #fff;
	text-decoration: none;
}
	
}

